@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Raleway&family=Varela+Round&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --navbar-background-color: rgb(31, 167, 151);
}

body {
  background-color: rgb(251, 246, 237);
}

.app-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-image: url(../public/assets/images/dot-grid.webp);
  opacity: 0.8;
}