.message-container {
    min-height: 3em;
    margin: 2rem 0 2rem 0;
    width: fit-content;
    max-width: 13em;
    display: flex;
    flex-direction: column;
}

.message-textWrapper, .message-textWrapperEdited {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: fit-content;
    max-width: 13em;
    justify-content: flex-start;
}

.message-textWrapperEdited {
    max-width: 18em;
}

.message-bubble {
    max-width: 100%;
    min-height: 2em;
    width: fit-content;
    border-radius: 0.75rem;
    padding: 0.5rem;
    white-space: normal;
    word-wrap: break-word;
}

.editedBubble {
    max-width: 80%;
}

.message-container.message-own .message-textWrapper {
    align-self: flex-end;
    justify-content: flex-end;
}

.message-recieved {
    background-color: rgb(225, 225, 225);
}

.message-sent {
    background-color: var(--main-color);
    color: #fff;
}

.message-edited {
    color: rgb(175, 175, 175);
    font-style: italic;
    font-size: 0.8rem;
    margin-top: 0.4rem;
    margin-left: 0.3rem;
    width: 3.2em;
}

.message-container.message-own .message-edited {
    margin-left: 0;
    margin-right: 0.7em;
}

.message-date {
    color: rgb(175, 175, 175);
    font-size: 0.7rem;
    margin: 0 0.2rem 0 0.2rem;
}

.message-container.message-own .message-date {
    text-align: right;
}