.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    /* padding: 0.2rem; */
}

.chat-messagesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 3em);
    padding: 0 0.3rem 0 0.3rem;
    overflow-y: scroll;
}

.chat-messageWrapper, .chat-messageWrapperOwn {
    position: relative;
    width: fit-content;
}

.chat-messageWrapperOwn {
    align-self: flex-end;
}

.chat-formContainer {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 3em;
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    margin-top: 0.2em;
}

.chat-p {
    color: rgb(170, 170, 170);
    font-size: 2rem;
    margin: 0.5rem 0.3rem 0 0.3rem;
}

.chat-form {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.chat-input {
    width: 94%;
    height: 100%;
    resize: none;
    margin-right: 0.2rem;
    border-radius: 0.8rem;
    border: 2px solid rgb(170, 170, 170);
    outline: none;
    padding: 0.6rem 0 0 0.3rem;
    font-family: 'Roboto', sans-serif;
}

.chat-btn {
    width: 6%;
    height: 100%;
    border-radius: 0.8rem;
    padding: 1%;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: 2px solid var(--main-color);
}

.chat-btn:hover {
    background-color: white;
    color: var(--main-color);
}

@media screen and (max-width: 1200px) {
    .chat-input {
        width: 90%;
    }

    .chat-btn {
        width: 10%;
    }
}

@media screen and (max-width: 620px) {
    .chat-p {
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 600px) {
    .chat-input {
        width: 88%;
    }

    .chat-btn {
        width: 12%;
    }
}

@media screen and (max-width: 500px) {
    .chat-btn {
        border-radius: 0.6rem;
    }
}

@media screen and (max-width: 480px) {
    .chat-input {
        width: 85%;
    }

    .chat-btn {
        width: 15%;
    }

    .chat-p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 300px) {
    .chat-input {
        width: 82%;
        font-size: 0.5rem;
        padding: 0.7rem 0 0 0.3rem;
    }

    .chat-btn {
        width: 18%;
    }

    .chat-formContainer {
        height: 2.7em;
    }

    .chat-p {
        font-size: 0.8rem;
    }
}

