.contacts-container {
    height: 100%;
    width: 100%;
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(170, 170, 170);
}

.contacts-header {
    font-weight: 500;
    font-size: 1.3rem;
}

.contacts-inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1rem 0 0.5rem 0;
}

.contacts-input {
    width: 80%;
    border-radius: 1rem;
    padding: 0.3rem;
    border: 2px solid rgb(170, 170, 170);
    outline: none;
}

.contacts-input:focus {
    outline: none;
    border: 2px solid rgb(130, 130, 130);
}

.contacts-searchBtn, .contacts-clearSearchBtn {
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.contacts-searchBtn:hover, .contacts-clearSearchBtn:hover {
    color: rgb(110, 110, 110)
}

.contacts-clearSearchBtn {
    position: absolute;
    right: 22%;
}

.contacts-searchBtn {
    margin-left: 0.5rem;
}


.contacts-boxContainer {
    width: 100%;
    max-height: 80%;
    overflow-y: scroll !important;
    margin: 0.5em 0 0.5em 0;
    padding-right: 0.5rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.contacts-boxContainer::-webkit-scrollbar {
    display: none;
}

.contacts-p {
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.contacts-addContactsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacts-addContacts {
    transition: 0.2s ease-in-out;
}

.contacts-addContacts:hover {
    color: rgb(110, 110, 110);
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .contacts-input {
        font-size: 0.6rem;
    }

    .contacts-p {
        font-size: 1rem;
    }
    
    .contacts-addContacts {
        font-size: 1rem;
    }
}

@media screen and (max-width: 620px) {
    .contacts-p {
        font-size: 0.8rem;
    }
    
    .contacts-addContacts {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 570px) {
    .contacts-input {
        font-size: 0.4rem;
    }

    .contacts-searchBtn, .contacts-clearSearchBtn {
        font-size: 1rem;
    }

    .contacts-searchBtn {
        margin-left: 0.3rem;
    }
}

@media screen and (max-width: 500px) {
    .contacts-container {
        padding: 0.3rem;
    }
}

@media screen and (max-width: 480px) {
    .contacts-header {
        font-size: 1rem;
    }

    .contacts-inputContainer {
        margin: 0.5rem 0 0.2rem 0;
    }

    .contacts-p {
        margin: 0.5rem 0 0.5rem 0;
    }

    .contacts-p {
        font-size: 0.7rem;
    }
    
    .contacts-addContacts {
        font-size: 0.7rem;
    }

    .contacts-clearSearchBtn {
        right: 25%;
    }
}

@media screen and (max-width: 400px) { 
    .contacts-p {
        font-size: 0.7rem;
    }

    .contacts-addContacts {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 300px) { 
    .contacts-container {
        padding: 0.2rem;
    }

    .contacts-p {
        font-size: 0.5rem;
    }
    
    .contacts-container {
        padding: 0.2rem;
    }

    .contacts-header {
        font-size: 0.8rem;
    }

    .contacts-addContacts {
        font-size: 0.5rem;
    }

    .contacts-input {
        font-size: 0.3rem;
    }

    .contacts-searchBtn, .contacts-clearSearchBtn {
        font-size: 0.6rem;
    }

    .contacts-searchBtn {
        margin-left: 0.1rem;
    }
}