.userbox-container {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    width: 100%;
    height: 3em;
    padding: 0.2rem;
    margin: 0.2rem 0 0.2rem 0;
    font-family: 'Roboto', sans-serif;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: rgb(100, 100, 100);
}

.userbox-recent {
    flex-direction: column;
}

.userbox-container:hover {
    background-color: rgb(224, 224, 224);
}

.userbox-name {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

.userbox-lastMessage {   
    font-size: 0.8rem;
}

.userbox-text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userbox-removeBtnContainer {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.userbox-removeBtn {
    width: fit-content;
    color: rgb(150, 150, 150);
}

.userbox-removeBtn:hover {
    color: rgb(100, 100, 100);
}

.userbox-hidden {
    display: none;
}

@media screen and (max-width: 600px) {
    .userbox-removeBtn {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    .userbox-removeBtn {
        font-size: 0.5rem;
    }

    .userbox-name {
        font-size: 0.8rem;
    }

    .userbox-container {
        height: 2.5em;
    }
}

@media screen and (max-width: 300px) {
    .userbox-removeBtn {
        font-size: 0.4rem;
    }

    .userbox-name {
        font-size: 0.5rem;
    }

    .userbox-lastMessage {   
        font-size: 0.5rem;
    }

    .userbox-container {
        height: 2em;
    }
}